---
const token = import.meta.env.SECRET_TOKEN;

const response = await fetch("https://api.github.com/users/juanies/repos", {
  headers: {
    Authorization: `Bearer ${token}`,
  },
});

async function commits(namerepo) {
  const commits = await fetch(
    `https://api.github.com/repos/juanies/${namerepo}/commits`,
    {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    }
  );

  const commitsData = await commits.json();
  const countComiits = commitsData.length;
  return countComiits == 30 ? "+30" : countComiits;
}

let json = await response.json();
const page = 1;
const totalpages = Math.ceil(json.length / 4);

console.log(totalpages);

json = json.slice(0, 4);

const hoy = new Date();
console.log(json);
function separarfecha(fecha) {
  return new Date(fecha);
}

function calcularDiferencia(fecha) {
  const fechaItem = separarfecha(fecha);
  const diffTime = Math.abs(hoy.getTime() - fechaItem.getTime());
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

  if (diffDays > 365) {
    return `${Math.floor(diffDays / 365)} year ago`;
  } else if (diffDays > 31) {
    return `${calcularMesesPasados(fechaItem)} month ago`;
  } else {
    return `${diffDays} days ago`;
  }
}

function calcularMesesPasados(fecha) {
  const fechaItem = separarfecha(fecha);
  const yearDiff = hoy.getFullYear() - fechaItem.getFullYear();
  const monthDiff = hoy.getMonth() - fechaItem.getMonth();

  return yearDiff * 12 + monthDiff;
}

console.log(json);
---

<>
  <ul class="mt-4 flex flex-wrap gap-4">
    {
      json.map(item => (
        <article class="bg-[#333] border-[#616161] border w-[49%]  p-4 rounded flex flex-col gap-4 text-[#ff]">
          <h2>{item.name}</h2>
          <p>{item.description}</p>
          <div>
            <div>
              {item.language}
              {" Updated " + calcularDiferencia(item.updated_at)}
            </div>
            <div class="flex gap-2">
              <p>{item.stargazers_count}</p>
              <p>{commits(item.name)}</p>
            </div>
          </div>
        </article>
      ))
    }
  </ul>
  <div>
    
  </div>
</>
