---
    const {title, description, img, url, stack, github} = Astro.props

    import GitHub from "../components/icons/GitHub.astro"
    import Export from "../components/icons/Export.astro"

---

<article class="w-[740px]  mt-5 flex pb-32 items-center justify-end relative">
    <a href={url} class="absolute top-0">
        <img id="imgpro" class="w-[50%] rounded 	 imgpro object-contain -z-10" src={img} alt={title}>
    </a>

    <div class="flex w-[60%] z-0  flex-col">
        <div class="flex gap-x-2 justify-end pb-3 flex-wrap">
            {
                stack.map((e: string) => (
                    <span class="flex p-2 rounded bg-[#18191d]">{e}</span>
                ))
            }
        </div>
        <div class="bg-[#18191d] rounded pointer-events-none flex flex-col p-4">
            <h2 class="text-2xl font-bold bg-black/2">{title}</h2>
            <p class="py-2 text-1xl opacity-80 font-[400]">{description}</p>
        </div>
        <div class="flex justify-end pt-4 gap-x-4">
            {github && <a class="hover:scale-[1.3] hover:text-yellow-300 transition" target="_blank" href={github}><GitHub></GitHub></a>}
            {url && <a class="hover:scale-[1.3] hover:text-yellow-300 transition fill-red" target="_blank" href={url}><Export></Export></a>}
        </div>

    </div>
</article>
